body {
	text-align: center;
}

#stage {
	border: 5px solid #444;
	position: relative;
	width: 900px;
	height: 550px;
	margin: auto;
}

#minimap {
	position: absolute;
	left: -1px;
	top: -1px;
	border: 1px solid #444;
	display: none;
}