body {
	text-align: center;
}

#stage {
	border: 5px solid #444;
	position: relative;
	width: 900px;
	height: 550px;
	margin: auto;
}

#minimap {
	position: absolute;
	left: -1px;
	top: -1px;
	border: 1px solid #444;
	display: none;
}

#time {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
}

#inventory {
	height: 80px;
	position: absolute;
	bottom: -2px;
	left: 80px;
	right: 80px;

	border: 2px solid #444;
	background: #ccc;
	z-index: 10;
}

#inventory .placeholder {
	width: 66px;
	height: 65px;
	float: left;
	margin: 8px 0 0px 7px;
	background: #aaa;
	box-shadow: 1px 1px 0 1px #eee;
	position: relative;
}

#inventory .placeholder.active {
	border: 2px solid #222;
	margin-left: 4px;
	margin-top: 6px;
}

.icon {
	left: 16px;
	top: 16px;
	position: absolute;
	height: 32px;
	width: 32px;

	line-height: 75px;
	font-family: sans-serif;
	text-shadow: -1px -1px 1px white;
	text-align: right;

	background-image: url('spritesheet.png');
	background-repeat: no-repeat;
	background-position: 1000px 1000px;
}
